.callback {
  background: #000;
  padding: 210px 0 100px;
}

.callback__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  align-items: center;
}

.callback__title {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.callback__subtitle {
  color: #fff;
  font-size: 30px;
}

.callback__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
//font-size: 30px;
//margin-top: 40px;
