.header {
  width: 100%;
  background: #000;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  &_absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__contact-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__contact {
  font-weight: 300;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
  &:hover {
    color: #ffdf00;
    text-decoration: none;
  }
}

.header__connection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}
